In [83]:
import pandas as pd

In [84]:
df3 = pd.read_csv('snopes_df')

In [85]:
df3.head()

,Unnamed: 0,id,claim,article_title,author,publish_date,harvest_date,url,label,article_text
0,0,0,"Εάν έχετε βηματοδότη, μπορείτε να το δωρίσετε ...",Μπορείτε να δωρίσετε τον βηματοδότη σας σε ένα...,Aleksandra Wrona,"Dec 13, 2023",00:12:16.868855,https://www.snopes.com/fact-check/dog-pacemake...,True,"Απαίτηση:\n\nΕάν έχετε βηματοδότη, μπορείτε να..."
1,1,1,"Μια φωτογραφία δείχνει πραγματικά ένα ""Young B...",Δεν υπάρχουν στοιχεία που δείχνουν αυτό το ιογ...,Madison Dapcevich,"Dec 13, 2023",00:12:16.868855,https://www.snopes.com/fact-check/viral-pic-sh...,Unfounded,Απαίτηση:\n\nΜια φωτογραφία δείχνει πραγματικά...
2,2,2,Ο Mark Wahlberg θα συμμετάσχει στους μουσικούς...,Είναι ο Mark Wahlberg ενώνει τον Jason Aldean ...,Taija PerryCook,"Dec 12, 2023",00:12:16.868855,https://www.snopes.com/fact-check/is-mark-wahl...,Labeled Satire,Απαίτηση:\n\nΟ Mark Wahlberg θα συμμετάσχει στ...
3,3,3,Η Disney και η Pixar ανακοίνωσαν ότι ένα remak...,"Είναι ένα remake ""Land Before Time"" στα έργα τ...",Jordan Liles,"Dec 12, 2023",00:12:16.868855,https://www.snopes.com/fact-check/land-before-...,Labeled Satire,Απαίτηση:\n\nΗ Disney και η Pixar ανακοίνωσαν ...
4,4,4,Οι αυθεντικές φωτογραφίες δείχνουν ότι ο Taylo...,Είναι αυτές οι πραγματικές φωτογραφίες του Tay...,Nur Ibrahim,"Dec 12, 2023",00:12:16.868855,https://www.snopes.com/fact-check/taylor-swift...,True,Απαίτηση:\n\nΟι αυθεντικές φωτογραφίες δείχνου...

In [86]:
df3 = df3[['id','claim','label']]
df3.insert(2, 'text_embedding', '')

In [87]:
df3.label.value_counts()

False                   693
Labeled Satire          582
True                    489
Miscaptioned            277
Fake                    269
Correct Attribution     108
Mixture                 107
Unfounded                89
Originated as Satire     68
Unproven                 67
Scam                     49
Mostly True              30
Misattributed            22
Mostly False             18
Outdated                 12
Research In Progress     11
Legit                     6
Legend                    4
Name: label, dtype: int64

In [88]:
mapping = {'Scam':0,'Mixture':3,'Mostly False':0, 'Outdated':None, 'True':1 ,'Legit':1 ,'False': 0,'Fake': 0,'Satire': 4,'Originated as Satire': 4,'Unproven': 0,'Research In Progress': 2,
           'Unfounded': None,'Miscaptioned': None,'Correct Attribution': None,'Mostly True':1, 'Missatributed':3, 'Labeled Satire':4, 'Legend':None }

In [89]:
df3['label'] = df3['label'].map(mapping)

In [90]:
df3.head()

   id                                              claim text_embedding  label
0   0  Εάν έχετε βηματοδότη, μπορείτε να το δωρίσετε ...                   1.0
1   1  Μια φωτογραφία δείχνει πραγματικά ένα "Young B...                   NaN
2   2  Ο Mark Wahlberg θα συμμετάσχει στους μουσικούς...                   4.0
3   3  Η Disney και η Pixar ανακοίνωσαν ότι ένα remak...                   4.0
4   4  Οι αυθεντικές φωτογραφίες δείχνουν ότι ο Taylo...                   1.0

In [91]:
df3 = df3.dropna(subset=['label'])
df3.reset_index(inplace=True, drop=True)
df3['id'] = df3.index

In [92]:
df3.label.value_counts()

0.0    1096
4.0     650
1.0     525
3.0     107
2.0      11
Name: label, dtype: int64

In [93]:
df3.head()

   id                                              claim text_embedding  label
0   0  Εάν έχετε βηματοδότη, μπορείτε να το δωρίσετε ...                   1.0
1   1  Ο Mark Wahlberg θα συμμετάσχει στους μουσικούς...                   4.0
2   2  Η Disney και η Pixar ανακοίνωσαν ότι ένα remak...                   4.0
3   3  Οι αυθεντικές φωτογραφίες δείχνουν ότι ο Taylo...                   1.0
4   4  Μια διαδικτυακή διαφήμιση ανέφερε με ακρίβεια ...                   0.0

In [94]:
df3.shape

(2389, 4)